/* conainer {
    text-align: center;
} */

div {
    font-family: 'Rakkas', cursive;
}
#background {
    background-image: url(../images/crowd2.jpg);
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

/* #musicSection {
    overflow-y: scroll;
    width: auto;
    height: 300px;
    
  } */

#nav {
    background: linear-gradient(to left, #f52516, #f5af2e);
    color: #cfcaca;
}

#logo {
    width: 70px;
    position: fixed;
}
#name-title {
    font-size: 72px;
    text-align: center;   
    font-family: 'Black Ops One', cursive;
    font: bold;
    background: -webkit-linear-gradient(#f5af2e, #f52516);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* width: 100%; */
    /* padding: 50px; */
    /* margin-bottom: 0px;
    margin-top: 20px;     */
    /* margin-top: 700px; */

}

 #title {
     Background: rgba(2, 2, 2, 0.8);
     border-radius: 15px 50px;
     padding: 35px;
     margin-bottom: 50px;
     margin-top: 60px;
     margin: 60px;
     
 }
#name-subtitle {
    font-family: 'Rakkas', cursive;
    text-align: center;
    font-size: 25px;
    background: -webkit-linear-gradient(#f5af2e, #f52516);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

#faq{
    Background: rgba(2, 2, 2, 0.8);
    border-radius: 15px 50px;
    padding: 35px;
    margin-bottom: 50px;
    margin-top: 60px;
    margin: 60px;
}

#faq-title {
    font-size: 70px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font: bold;
    background: -webkit-linear-gradient(#f5af2e, #f52516);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px 50px;
}

#qa {
    margin-left: 370px;
    margin-bottom: 70px;

}


h2 {
    font-family: 'Fugaz One', cursive;
    text-align: left;
    font-size: 20px;
}
  
.tile-is-parent.is-scrollable tbody {
    overflow-y: scroll;
    width: auto;
    position: absolute;
  }

.container {
    text-align: left;
    font-size: 250px;
    color: black;
    /* background-color: black; */
    /* background-color: rgba(255,255,255,0.5); */
    
}

#youTube1 {
    margin: 10px;
} 

#youTube2 {
    margin: 10px;
}

#youTube3 {
    margin: 10px;
}

.tile-faq {
    background-color: black;
    font-size: 30px;
    /* margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:#f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 100px;
    overflow-y: scroll;
}