/* conainer {
    text-align: center;
} */

div {
    font-family: 'Rakkas', cursive;
}
#background {
    background-image: url(../images/crowd2.jpg);
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

/* #musicSection {
    overflow-y: scroll;
    width: auto;
    height: 300px;
    
  } */

#logo {
    width: 70px;
    position: fixed;
}
#name-title {
    font-size: 70px;
    text-align: left;
    font-family: 'Black Ops One', cursive;
    font: bold;
    background: -webkit-linear-gradient(black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    
}

#name-subtitle {
    font-family: 'Rakkas', cursive;
    font-size: 25px;
    background: -webkit-linear-gradient(black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px;
}


#nav {
    background: linear-gradient(to left, #f52516, #f5af2e);
    color: #cfcaca;
}
 
#footer {
    background: linear-gradient(to left, #f52516, #f5af2e);
    color: #cfcaca;
}


h2 {
    font-family: 'Fugaz One', cursive;
    text-align: left;
    font-size: 20px;
}

.container {
    text-align: left;
    font-size: 250px;
    color: black;
    /* background-color: black; */
    /* background-color: rgba(255,255,255,0.5); */
    
}

#youTube1 {
    margin: 10px;
} 

#youTube2 {
    margin: 10px;
}

#youTube3 {
    margin: 10px;
}
